@use "../../core/constants/variables.module.scss" as vars;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/images/pencil.jpg");
  background-size: cover; /* Asegura que la imagen completa sea visible */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: vars.$font_0;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.label {
  font-size: 1rem;
  color: vars.$secondary-color;
  margin-bottom: 0.5rem;
  display: block;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid vars.$secondary-color;
  border-radius: 4px;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: vars.$tertiary-color;
  box-shadow: 0 0 4px vars.$tertiary-color;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: vars.$secondary-color;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: vars.$tertiary-color;
}

.link {
  color: vars.$quaternary-color;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.link:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @media (max-width: 480px) {
    padding: 0 20px;
  }
}

.submit-button {
  background-color: vars.$secondary-color;
  color: vars.$primary-color;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(vars.$secondary-color, 10%);
  }
}
