@use "../../core/constants/variables.module.scss" as vars;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00b1b70d;
  font-family: vars.$font_0;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.label {
  font-size: 1rem;
  color: vars.$secondary-color;
  margin-bottom: 0.5rem;
  display: block;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid vars.$secondary-color;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
}

.input::placeholder {
  color: vars.$secondary-color;
  font-size: 0.9rem;
}

.input:focus {
  outline: none;
  border-color: vars.$tertiary-color;
  box-shadow: 0 0 4px vars.$tertiary-color;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: vars.$secondary-color;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: vars.$tertiary-color;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
