$font_0: "Travelbit-Regular";

$primary-color: #32363f;
$secondary-color: #beb5c5;
$tertiary-color: #e9a655;
$quaternary-color: #659980;
$quinary-color: #112503;

//paleta de verdes
$grey-green: #d9dde0;
$green-1: #a9c3ba;
$green-2: #809f39;
$green-3: #274a2a;
$green-4: #1e311b;

//paletas otoño
$autumn-1: #f4e1d0;
$autumn-2: #cbc9a8;
$autumn-3: #f4bd8a;
$autumn-4: #c37028;
$autumn-5-geen: #829b3e;

//lilas

$purple-1: #d6c7e0;
$purple-2: #b8a0c7;
$purple-3: #683142;
$purple-4: #5f3d73;
$purple-5: #3f1f4c;
